@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');

:root {
  --bg-color: lightgray;
  --text-color: rgb(32, 32, 32)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

*:not(i) {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}

img{
  width: 200px;
}

.ng-invalid {
  border-color: red;
}


